* {
  margin: 0;
  padding: 0;

}
body {
    background-image:
    linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)),
    url("../img/download.png");  
    background-repeat: no-repeat;  
    height: 100%;
    background-size: cover;
    background-position: center;
}

nav{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: sticky; 
    z-index: 3;
    top:0;
}

.navbar{
    background-color: black;
    color: white;
    display: flex;
    padding: 20px 0;
}
.navbar ul li{
    display: inline-block;
    margin: auto;
    padding: 15px;
    font-size:20px;
}
.navbar ul li a {
    color: white;
    text-decoration: none;
}
.navbar ul li a:hover {
color: gray;
cursor: pointer;
}
.log ul li{
    display: inline-block;
    color: rgb(0, 0, 0);
}
.box{

    height: 30vh;
    text-align: center;
    margin: 30px;
}

.time{
    color: rgb(0, 0, 0);
    display: inline-block;
    left: 50px 0;
    height: 10vh; 
    padding-right: 50px;
    text-align: center;
}

.wather{
color: rgb(0, 0, 0);
    display: inline-block;
    left: 50px 0;
    width: auto;
    height: 10vh;
    padding-right: 50px;
}
.img{
    color: rgb(0, 0, 0);
        display: inline-block;
        left: 50px 0;
        width: auto;
        padding-right: 50px;
        height: 10vh;
    }

.todo{
    border: 2px solid black;
    color: aliceblue;
    width: auto;
    height: 90vh;
}

.container h1{
    color: rgb(57, 44, 44);
    text-align: center;
    padding-bottom: 10px;

}
.container{
    width: 800px;
    margin: 50px auto;
    border-radius: 15px;
    box-shadow: 10px 20px 10px 0 rgba(0,0,0);
    z-index: 1;
    background: rgba(61, 67, 87, 0.8);
    max-width: 400px;
    padding: 45px;
}

.container input{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    outline: 0;
    background-color: #ffffff;
    border-radius: 5px;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 15px;
}
.container button{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-transform: uppercase;
    outline: 0;
    border-radius: 5px;
    background: #4caf50;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 20px;
    cursor: pointer;
}

.container button:hover, .container button:active{
    background: #43A047;
}

.message{
    margin: 15px;
    color: rgb(255, 255, 255);
    font-size: 20px;
}
.message a{
    color: rgb(0, 0, 0);
}

.container h2{
    text-align: center;
    color: white;
    padding-bottom:30px ;
} 
label{
    color: #FFFFFF;
    font-size: 20px;
}
.footer{
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
    position: sticky; 
    z-index: 3;
    bottom:0;
    padding-top: 30px;
    padding-bottom:30px;
}
.text1{
    display: none;
    width: 50%;
}
.text1.view{
    display: block;
}
