
* {
	margin: 0;
	box-sizing: border-box;
	font-family: "Fira sans", sans-serif;
}
header {
	padding: 2rem 1rem;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}
header h1{ 
	font-size: 2.5rem;
	font-weight: 300;
	background-color: rgba(179, 179, 179, 0.892);
	border-radius: 0.5rem;
	color: rgba(255, 255, 255, 0.5);
	margin-bottom: 1rem;
}
#new-task-form {
	display: flex;;
}
input, button {
	appearance: none;
	border: none;
	outline: none;
	background: none;
}
#new-task-input {
	flex: 1 1 0%;
	background-color: rgba(255, 255, 255, 0.6);
	padding: 1rem;
	border-radius: 1rem;
	margin-right: 1rem;
	color: black;
	font-size: 1.25rem;
    overflow:scroll;
	transition: 1s;
}
#new-task-input::placeholder {
	color: rgb(152, 152, 152);
}
#new-task-submit {
	flex: 1 1 1 0%;
	background-color: rgba(255, 255, 255, 0.6);
	padding: 0.5rem;
	border-radius: 1rem;
	margin-right: 0.5rem;
	color: rgb(50, 140, 106);
	font-size: 1.25rem;
	font-weight: 700;
	cursor: pointer;
	transition: 0.4s;
}
#new-task-submit:hover {
	opacity: 0.8;
}
#new-task-submit:active {
	opacity: 0.6;
}
main {
	flex: 1 1 0%;
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}
.task-list {
	padding: 1rem;
	height: 30vh;
	overflow:auto;
}
.task-list h2 {
	font-size: 1.5rem;
	font-weight: 300;
	color: rgb(79, 79, 79);
	margin-bottom: 1rem;
}
#tasks .task {
	display: flex;
	justify-content: space-between;
	background-color: transparent;
	padding: 1rem;
	border-radius: 1rem;
	margin-bottom: 1rem;
    border: 2px solid rgb(140, 140, 140);
}
.task .content {
	flex: 1 1 0%;
}
.task .content .text {
	color: rgb(0, 0, 0);
	font-size: 1.125rem;
	width: 100%;
	display: block;
	transition: 0.4s;
}
.task .content .text:not(:read-only) {
	color: rgb(133, 133, 133);
}
.task .actions {
	display: flex;
	margin: 0 -0.5rem;
}
.task .actions button {
	cursor: pointer;
	margin: 0 0.5rem;
	font-size: 1.125rem;
	font-weight: 700;
	text-transform: uppercase;
	transition: 0.4s;
}
.task .actions button:hover {
	opacity: 0.8;
}
.task .actions button:active {
	opacity: 0.6;
}
.task .actions .edit {
	color: rgb(41, 109, 55);
}
.task .actions .delete {
	color: crimson;
}




